:root 
{
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

table, th, td 
{
  border: 1px solid black;
  background-color: whitesmoke;
}

table 
{
  margin-left: 2%;
}

th, td 
{
  height: 20px;
  width: 40px;
}

td 
{
  background-color: #bcbfc2;
}

h2 
{
  margin-top: 3%;
  margin-bottom: 3%;
  text-align: center;
}

.room 
{
  width: 125px;
  background-color: whitesmoke;
  text-align: center;
}

body 
{
  color: black;
  background-color: lightblue;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar 
{
  width: 0.25rem;
}

body::-webkit-scrollbar-track 
{
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb 
{
  background: #6649b8;
}

main 
{
  margin: 0;
  padding: 0;
  box-string: border-box;
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.displayText
{
	background-image: linear-gradient(#a1c4fd, #c2e9fb);
    font-size: 20px;
    border: 4px solid black;
    border-radius: 30px;
    padding-top: 1%;
	padding-left: 1%;
	padding-right: 1%;
    padding-bottom: 4%;
	text-align: center;
}

a 
{
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  letter-spacing: 0.3ch;
  width: 100%;
}

button 
{
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: #2196f3;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  outline: none;
  font-size: 24px;
  overflow: hidden;
  transition: 0.2s;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
  cursor: pointer;
}

button:hover
{
	color: #255784;
	background: #03e9f4;
	box-shadow: 0 0 5px #03e9f4,
	            0 0 25px #03e9f4,
				0 0 50px #03e9f4,
				0 0 200px #03e9f4;
}

button span
{
  position: absolute;
  display: block;
}

button span:nth-child(1)
{
  top: 0;
  left: -100%;
  width: 100%;
  height: 4px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: animate1 1s linear infinite;
  animation-delay: 0s;
}
@keyframes animate1
{
  0%
  {
    left: -100%;
  }
  100%
  {
    left: 100%;
  }
}

button span:nth-child(3)
{
  bottom: 0;
  left: -100%;
  width: 100%;
  height: 4px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: animate3 1s linear infinite;
  animation-delay: 0s;
}
@keyframes animate3
{
  0%
  {
    left: 100%;
  }
  100%
  {
    left: -100%;
  }
}

button span:nth-child(2)
{
  right: 0;
  top: -100%;
  width: 4px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: animate2 1s linear infinite;
  animation-delay: 0.5s;
}
@keyframes animate2
{
  0%
  {
    top: -100%;
  }
  100%
  {
    top: 100%;
  }
}

button span:nth-child(4)
{
  left: 0;
  top: 100%;
  width: 4px;
  height: 100%;
  background: linear-gradient(0deg, transparent, #03e9f4);
  animation: animate4 1s linear infinite;
  animation-delay: 0.5s;
}
@keyframes animate4
{
  0%
  {
    top: 100%;
  }
  100%
  {
    top: -100%;
  }
}

.navbar 
{
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  overflow: scroll;
}

.navbar-nav 
{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item 
{
  width: 100%;
}

.nav-item:last-child 
{
  margin-top: auto;
}

.nav-link 
{
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover 
{
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text 
{
  display: none;
  margin-left: 1rem;
}

.nav-link svg 
{
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.fa-primary 
{
  color: #ff7eee;
}

.fa-secondary 
{
  color: #df49a6;
}

.fa-primary,
.fa-secondary 
{
  transition: var(--transition-speed);
}

.logo 
{
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg 
{
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text
{
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}

.navbar:hover .logo svg 
{
  transform: rotate(-540deg);
}

/* Small screens */
@media only screen and (max-width: 600px) 
{
  .navbar 
  {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .logo 
  {
    display: none;
  }

  .navbar-nav 
  {
    flex-direction: row;
  }

  .nav-link 
  {
    justify-content: center;
  }

  main 
  {
    margin: 0;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) 
{
  .navbar 
  {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover 
  {
    width: 16rem;
  }

  .navbar:hover .link-text 
  {
    display: inline;
  }

  .navbar:hover .logo svg
  {
    margin-left: 11rem;
  }

  .navbar:hover .logo-text
  {
    left: 0px;
  }
}

.dark 
{
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

.light 
{
  --text-primary: #1f1f1f;
  --text-secondary: #000000;
  --bg-primary: #ffffff;
  --bg-secondary: #e4e4e4;
}

.solar 
{
  --text-primary: #576e75;
  --text-secondary: #35535c;
  --bg-primary: #fdf6e3;
  --bg-secondary: #f5e5b8;
}

.theme-icon 
{
  display: none;
}

.dark #darkIcon 
{
  display: block;
}

.light #lightIcon 
{
  display: block;
}

.solar #solarIcon 
{
  display: block;
}

.gridContainer 
{
  display: grid;
}

.box 
{
  position: relative;
  display: inline-block;
  width: 44px;
  height: 22px;
}
  
.switch 
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(99, 173, 241);
  transition: .4s;
}
  
.switch:before 
{
  position: absolute;
  content: "";
  height: 14px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}
  
input:checked + .switch 
{
  background-color: rgb(12, 116, 201);
}
  
input:checked + .switch:before 
{
  transform: translateX(20px);
}

.yes
{
    background-color: greenyellow;
}

.no
{
    background-color: gray;
}

.booked
{
  background-color: red;
}

.bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(ms.jpg);
	background-size: cover;
	z-index: -1;
}

.iButton2 {
	background-color: rgb(121, 115, 115);
	background-image: url(bin.png);
	background-repeat: no-repeat;
	background-position: 100% 100%;
	background-size: cover;
	height: 40px;
	width: 40px;
  border: none;
  border-radius: 30%;
  box-shadow: 2px 2px #999;
}

.iButton2:hover
{
  cursor: pointer;
}

.iButton2:active
{
  box-shadow: 0 0 #999;
  transform: translate(2px, 2px);
}

.legend
{
  border: none;
  background-color: transparent;
}
